* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --QGPrimary: #3c5399;
  --QG000: #a5b8f0;
  --QG100: #5c81ed;
  --QG200: #4965ba;
  --QG300: #283766;
  --QG400: #4c546e;
  --white: #ffffff;
  --black: #2f3032;
  --grey000: #f2f2f2;
  --grey100: #d3d3d3;
  --grey200: #a4a4a4;
  --yellow: #ffd037;
  --green: #00b728;
}

html,
body {
  color: var(--back);
  font: 400 1rem 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 20px;
  text-transform: uppercase;
  background: var(--QG300);
  color: var(--white);
  font-size: 700;
  border: none;
  letter-spacing: 0.8px;
  font: 700 1rem 'Roboto', sans-serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

button:hover {
  opacity: 0.9;
  transition: 0.2s;
}

h1 {
  font-size: 3.1rem;
  line-height: 3.75rem;
}
