.menuContainerFluid{
    width: 100%;
    background: var(--white);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);

}

.menuContainer{
    display: flex;
    max-width: 992px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;

    img{
        padding-right: 10px;
    }

    span{
        text-transform: uppercase;
        font: 400 2.25rem 'Lanterosy Sans Serif', sans-serif;
        color: var(--QGPrimary);
    }

    .logoMenu a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

