.background {
  background: var(--grey000);
  height: 100vh;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  gap: 2.5rem;
  display: flex;

  aside{
    display: flex;
    flex:1;
    flex-direction: column;
    max-height: 450px;

    background: var(--white);
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 2rem;

    h2{
      color: var(--QG300);
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding-left: 1rem;
    }
  }

  aside .boxFiltro:last-child{
    margin-bottom: 4rem;
  }

  main{
    margin-top: 2rem;
    display: flex;
    flex: 2.5;
    flex-direction: column;

    h2{
      text-align: center;
      color: var(--QG300);
    }

   
  }
}

.boxUsuario{
  margin-top: 2rem;
  background: var(--white);
  box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  button{
    height: 40px;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;

    span{
      padding-right: 10px;
    }
  }

  .usuarioeFoto{
    display: flex;
    flex-direction:row ;
    padding-top: 1rem;
    padding-left: 1rem;

    img{
      max-height: 102px;
      border-radius: 100px;
    }

    .usuarioCampos{
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-bottom: 2rem;
    }
    h4{
      font: 400 1rem 'Roboto', sans-serif;
      color: var(--QG300);
      padding-bottom: 5px;
    }

    h3{
      font: 700 1.5rem 'Roboto', sans-serif;
      color: var(--QG300);
      padding-bottom: 3px;
    }
    .campoUsuario{
      display: flex;
      flex-direction: row;
      padding-bottom: 5px;
      color: var(--QG300);
      align-items: center;

      img{
        max-height: 22px;
      }
      
      span:first-child {
        font-weight: 700;
        padding-right: 5px;
      }

      .statusVerde{
        color: var(--green);
        font-weight: 900;
      }
    }
  }

}

.boxFiltro{

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
    
  .filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;

    img {
      padding-right: 0.5rem;
    }

    span{
      font-weight: 500;
    }
  }

}

.filtroActive{
  background-color: var(--QG300);
  color: var(--white);

}
