.container {
    max-width: 992px;
    margin: 0 auto;
    gap: 2.5rem;
}

.conteudoContrate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    a {
        width: 150px;
        button {
            height: 41px;
            padding-left: 15px;
            padding-right: 15px;
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
            font-weight: 700;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

.contrateProfissionalBg {
    height: 70vh;
    background: linear-gradient(135deg, #A5B8F0 0%, #123597 100%);
    .textoContrate {
        display: flex;
        flex: 0.9;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        color: var(--white);
        h1 {
            margin-bottom: 20px;
        }
        span {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.875rem;
        }
    }
    .imgProfissional {
        display: flex;
        flex: 0.1;
        justify-content: flex-end;
    }
}

.oferecaTrabalhoBg {
    height: 70vh;
    background: linear-gradient(135deg, #F3F6FF 0%, #D0DCFF 100%);
    .textoTrabalha {
        display: flex;
        flex: 0.9;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        color: var(--QG300);
        h1 {
            margin-bottom: 20px;
        }
        span {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.875rem;
        }
    }
}

.sobreQuebraGalhoBG{
  background: var(--white);

  .cabecalhoSobre{
    display: block;
    text-align: center;
    margin-bottom: 5rem;

    h2{
      margin-top: 2rem;
      margin-bottom: 0.625rem;
      font: 700 3rem 'Roboto', sans-serif;
      color: var(--QG300);
    }
    span{
      font: 400 1.15rem 'Roboto', sans-serif;
    }
  }

  .boxSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
   
    h3{
      padding-top: 7px;
      padding-bottom: 20px;
      font-size: 1.375rem;
      font-weight: 700;
      color: var(--black);
    }

    span{
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      font: 300 1.125rem 'Roboto', sans-serif;
      line-height: 1.5rem;
      color: var(--black);
    }

    .boxMenor{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--grey000);
      height: 390px;
      max-width: 330px;
      border-radius: 10px;
      
    }

    .boxMaior{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--grey100);
      height: 410px;
      max-width: 332px;
      border-radius: 10px;

    }
  }
}