.background {
  background: var(--grey000);
}

.container {
  max-width: 992px;
  margin: 0 auto;
  gap: 2.5rem;
  display: flex;
}

.leftSide {
  display: flex;
  flex: 1.5;
  flex-direction: column;

  h3 {
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 0.75rem;
    font: 700 1.25rem 'Roboto', sans-serif;
    color: var(--QG300);
  }

  .boxInfoUsuario {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: 2rem;

    .informacoesPrincipais {
      border-bottom: 1px var(--grey100) solid;
      display: flex;
      flex-direction: column;
      text-align: center;

      .fotoeCapa{
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;

        .capaPerfil img{
          width: 100%;
          height: auto;
          max-height: none;
          margin:0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .fotoPerfil img{
          max-height: none;
          margin-top: -70px;
          border-radius: 100px;
          border: solid 3px var(--white)
        }

      }

      h1 {
        font-size: 1.75rem;
        line-height: 25px;
        color: var(--QG300);
        margin-bottom: 0.75rem;
        margin-top: 1rem;
      }

      span {
        color: var(--QG300);
      }

      img {
        max-height: 22px;
        margin-top: 0.75rem;
      }

      p {
        text-align: center;
        margin: 1rem;
        color: var(--black);
        line-height: 25px;
      }
    }

    .informacaoAdicional:last-child {
      margin-bottom: 2rem;
      padding-bottom: 0px;
    }

    .informacaoAdicional {
      padding-left: 12px;
      padding-bottom: 10px;
      color: var(--black);

      span:first-child {
        font-weight: 700;
      }

      .verdeStatus {
        font: 900 1rem 'Roboto', sans-serif;
        color: var(--green);
      }
    }
  }

  .numerosPlataforma {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-height: 9rem;

    .numeroPlataforma:last-child {
      margin-bottom: 2rem;
      padding-bottom: 0px;
    }
    .numeroPlataforma {
      padding-left: 12px;
      padding-bottom: 10px;
      color: var(--black);

      span:first-child {
        font-weight: 700;
      }
    }
  }
}

.rightSide {
  display: flex;
  flex: 2;

  .servicosUsuario {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  h2 {
    text-align: center;
    font: 700 1.625rem 'Roboto', sans-serif;
    color: var(--QG300);
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 100%;
  }

  .cardsServicos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    .cardServico {
      background: var(--grey000);
      display: flex;
      flex-direction: column;
      max-width: 15rem;
      margin-bottom: 2rem;
      border-radius: 10px;

      h3 {
        text-align: center;
        width: 100%;
        padding-bottom: 0.625rem;
        padding-top: 0.625rem;
        font: 700 1.25rem 'Roboto', sans-serif;
        color: var(--QG300);
      }

      span {
        font: 400 1rem 'Roboto', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
        text-align: center;
      }

      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .buttonsCard {
        display: flex;
        flex-direction: column;
        padding-top: 2.5rem;

        button {
          height: 40px;
          margin-right: 0.625rem;
          margin-left: 0.625rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          cursor: pointer;

          span {
            padding-left: 0px;
          }
        }

        button:first-child {
          background: var(--QG300);
          opacity: 0.5;
        }
      }
    }
  }
}

// Parte modal

.modalBackground{
  display: flex;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modalContent{
  background-color: var(--grey000);
  margin: 6rem auto auto auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 800px;
  border-radius: 10px;

  h2{
    text-align: center;
    color: var(--QG300);
    font-size: 1.75rem;
    border-bottom: 1px solid var(--grey100);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .camposModal{
    display: flex;
    flex-direction: column;

    .campoModalColumn{
      display: flex;
      flex-direction: column;
      padding-bottom: 1.25rem;

      span{
        color: var(--QG300);
        font-weight: 700;
        padding-right: 5px;
        padding-bottom: 0.5rem;
      }

      input{
        border-radius: 5px;
        height: 40px;
        border: solid 1px var(--grey100);
        padding-left: 10px;
        font: 0.8rem 'Roboto', sans-serif;
      }
      
      textarea{
        height: 160px;
        border-radius: 5px;
        border: solid 1px var(--grey100);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        resize: none;
        font: 0.8rem 'Roboto', sans-serif;
      }
    }

    .campoModalRow{
      display: flex;
      padding-bottom: 1rem;
    }

    .campoModalRow span:first-child{
      color: var(--QG300);
      font-weight: 700;
      padding-right: 5px;
    }

    .botoesModal{
      display: flex;
      justify-content: right;

      button{
        text-transform: none;
        opacity: 0.5;
        cursor: pointer;
        width: 135px;
        height: 40px;

        &:last-child{
          opacity: 1;
          margin-left: 1rem;
        }
      }
    }
  }

  .camposObrigatorios{
    padding-top: 3px;
    font-size: 0.8rem;
  }

  .camposModal .campoModalRow:last-child{
    padding-bottom: 1.25rem;
  }
}