.background {
  background: var(--grey000);
}

.container {
  max-width: 992px;
  margin: 0 auto;
  gap: 2.5rem;
  display: flex;
}

.leftSide {
  display: flex;
  flex: 1.5;
  flex-direction: column;

  .imgPrincipal{
    margin-top: 2rem;
    padding-bottom: 1rem;

    img{
      border-radius: 10px;
      height: auto;
      max-width: 100%;

    }
  }

  .imgMenores{
    display: flex;
    row-gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;

    img{
      max-width: 120px;
      border-radius: 10px;
    }
  }

}
.rightSide {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-bottom: 1rem;

  .boxServico{
    margin-top: 2rem;
    background: var(--white);
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: min-content;

    h1{
      font-size: 2rem!important;
      color: var(--QG300);
      margin-top: 1rem;
      padding-left: 1.5rem;
      line-height: 30px!important;
    }

    img{
      max-width: 160px;
      padding-left: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    p{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      line-height: 20px;
      text-align: justify;
      margin-bottom: 1rem;
      color: var(--black);
    }

    .camposServico{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 2rem;
      
      .campoServico{
        margin-bottom: 0.5rem;

        span{
          color: var(--black);
        }

        span:first-child {
          font-weight: 700;
          color: var(--QG300)
        }
  
        .verdeStatus {
          font: 900 1rem 'Roboto', sans-serif;
          color: var(--green);
        }
      }

      button{
        cursor: pointer;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 261px;
        height: 40px;

        img{
          padding-left: 0.5rem;
          margin: 0;
        }
      }
    }
  }

  h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.625rem;
    color: var(--QG300);
  }

  .boxDepoimentos{
    border-radius: 10px;
    box-shadow: 4px 5px 15px -5px rgba(0, 0, 0, 0.25);
    background: var(--white);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .cabecalhoDepoimentos{
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--QG300);
      padding-top: 5px;
      padding-bottom: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      img{
        max-height: 40px;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
      }

      span{
        font: 700 1.125rem 'Roboto', sans-serif;
        color: var(--white);
      }
    }
    .conteudoDepoimento{
      display: flex;
      
      .fotoPerfilDep{
        padding-top: 1rem;
        padding-left: 1rem;
        img{
          border-radius: 100%;
        }
      }
  
      .camposDepoimento{
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
  
        h2{
          margin: 0;
          font-size: 1.5rem;
          text-align: left;
        }

        p{
          color: var(--black);
          line-height: 20px;
          margin-top: 0.8rem;
          margin-bottom: 0.8rem;
          text-align: justify;
        }

        .notaDepoimento{
          display: flex;
          align-items: center;
          padding-bottom: 1.5rem;

          span{
            font: 700 1rem 'Roboto', sans-serif;
            color: var(--QG300);
            padding-right: 0.5rem;
          }

          img{
            max-height: 22px;
          }
        }
      }
    }

  }

}